import React from 'react';
import "./{{pascalCase name}}.scss"

const {{pascalCase name}}:React.FC = props => {
return (
<div className='{{pascalCase name}}'>
  <h1>{{pascalCase name}}</h1>
</div>
)
}

export default {{pascalCase name}};